@reference "tailwindcss";

.blog {
  h1 {
    @apply text-3xl font-bold py-2;
  }

  h2 {
    @apply text-2xl font-bold py-2;
  }

  h3 {
    @apply text-lg font-bold py-2;
  }

  h4 {
    @apply text-base font-bold py-2;
  }

  h5 {
    @apply text-sm font-bold py-2;
  }

  h6 {
    @apply text-xs font-bold py-2;
  }

  p {
    @apply text-base pt-1 pb-2 leading-6;
  }

  pre {
    @apply p-4 rounded-lg;
  }

  ul {
    @apply pl-4 list-disc;

  }

  ol {
    @apply  pl-4 list-decimal;
  }

  img {
    @apply rounded-lg shadow-md py-1;
  }

  a {
    @apply text-blue-600 hover:text-blue-600;
  }

  table {
    @apply border-collapse border border-gray-200 mt-2;
    tr {
      @apply text-base py-1 leading-5 border border-gray-200;
    }
    th {
      @apply text-base py-1 leading-5 border border-gray-200 px-2;
    }
    td {
      @apply text-base py-1 leading-5 border border-gray-200 px-2 py-1;
    }
  }
}