
.blog {
  h1 {
    @apply text-3xl font-bold py-2 text-[var(--color-text)];
  }

  h2 {
    @apply text-2xl font-bold py-2 text-[var(--color-text)];
  }

  h3 {
    @apply text-lg font-bold py-2 text-[var(--color-text)];
  }

  h4 {
    @apply text-base font-bold py-2 text-[var(--color-text)];
  }

  h5 {
    @apply text-sm font-bold py-2 text-[var(--color-text)];
  }

  h6 {
    @apply text-xs font-bold py-2 text-[var(--color-text)];
  }

  p {
    @apply text-base py-1 leading-5 text-[var(--color-text)];
  }

  pre {
    @apply p-4 rounded-lg text-[var(--color-text)];
  }

  ul {
    @apply pl-4 list-disc text-[var(--color-text)];

  }

  ol {
    @apply  pl-4 list-decimal text-[var(--color-text)];
  }

  img {
    @apply rounded-lg shadow-md py-1;
  }

  a {
    @apply text-[var(--color-link)] hover:text-[var(--color-link-hover)];
  }

  table {
    @apply text-[var(--color-text)] border-collapse border border-gray-200 mt-2;
    tr {
      @apply text-base py-1 leading-5 text-[var(--color-text)] border border-gray-200;
    }
    th {
      @apply text-base py-1 leading-5 text-[var(--color-text)] border border-gray-200 px-2;
    }
    td {
      @apply text-base py-1 leading-5 text-[var(--color-text)] border border-gray-200 px-2 py-1;
    }
  }
}