---
import '@/styles/global.css';
// import '@/styles/typography.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = 'pksung1\'s dev blog',
	description = 'pksung1\'s dev blog'
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body class="min-h-screen bg-[var(--color-bg)] dark:bg-[var(--color-bg-dark)] text-[var(--color-text)] dark:text-[var(--color-text-dark)] flex flex-col relative font-notosanskr">
		<Header />
		<main class="pt-[var(--header-height)]">
			<slot />
		</main>
		<!-- <Footer /> -->
	</body>
</html>
