---
import { Card, CardHeader, CardTitle, CardDescription, CardContent, CardFooter } from './ui/card';
import { Button } from './ui/button';

interface Props {
  title: string;
  description: string;
  publishedDate: Date;
  tags?: string[];
  onClick?: () => void;
}

const { title, description, publishedDate, onClick, tags = [] } = Astro.props;
const formattedDate = publishedDate?.toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
});
---

<Card onClick={onClick}>
  <CardHeader>
    <CardTitle>{title}</CardTitle>
    <CardDescription>{description}</CardDescription>
  </CardHeader>
  <CardFooter>
    <Button variant="outline">Read more</Button>
  </CardFooter>
</Card>
