---
const year = new Date().getFullYear();
---

<footer class="bg-gray-100 py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <p class="text-gray-600">&copy; {year} MDX Blog. All rights reserved.</p>
      </div>
      <div class="flex space-x-4">
        <a href="https://twitter.com" class="text-gray-600 hover:text-gray-900">
          Twitter
        </a>
        <a href="https://github.com" class="text-gray-600 hover:text-gray-900">
          GitHub
        </a>
        <a href="https://linkedin.com" class="text-gray-600 hover:text-gray-900">
          LinkedIn
        </a>
      </div>
    </div>
  </div>
</footer>
