---
---

<div class="w-[100svw] h-[100svh] bg-gray-300 flex justify-center items-center" id="pixi-container">
</div>

<script>
  import { init } from '@/components/pixi/title-partial-move'

  init(document.getElementById('pixi-container'), "DEVELOPER\nVIDI'S BLOG")


</script>